<!doctype html>

<html>
<head>
	<title>BookDrop</title>
	<meta charset="utf-8">
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/home_style.css" rel="stylesheet">
	<link href="css/nav_style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:ital,wght@0,100...900;1,100...900">

	<!-- this is a comment in HTML -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<div>
		<div class="nav">
			<div class="logo-btn">
				<button type="button"><img src="images/logo.png" id="logo"></button>
			</div>

			<div class="right-align">
				<div class="signin-btn">
					<button id="signin-btn" type="button" onClick="parent.location='signin'">SIGN IN</button>
				</div>
			</div>
		</div>
		<div class="section1">
			<h1> Want to buy or sell a textbook?</h1>
			<div class=register-btn>
				<button type="button" id="register" onClick="parent.location='register'">REGISTER</button>
			</div>
		</div>
		<div class="section2">

			<div class="info-component">
				<div class="info-1">
					<div class="info-title">
						BROWSE
					</div>
					<div class="info-p">
						Find the textbook you need for your next class right here.
					</div>
				</div>
				<div class="info-2">
					<img src="images/search2.png" id="sliders">
				</div>
			</div>
			<div class="divider">
			</div>

			<div class="info-component">
				<div class="info-1r">
					<img src="images/shopping cart.png" id="sliders">
				</div>
				<div class="info-2r">
					<div class="info-title">
						BUY
					</div>
					<div class="info-p">
							Directly contact the seller of the textbook listing to buy the textbook.
				  </div>
				</div>
			</div>

			<div class="info-component">
				<div class="info-1">
					<div class="info-title">
						SELL
					</div>
					<div class="info-p">
Sell your used textbook to other students by adding a listing. Other users can see your listing(s).
					</div>
				</div>
				<div class="info-2">
					<img src="images/package.png" id="sliders">
				</div>
			</div>


		</div>
		<!--div class="section2">
			<div class ="text">
				<p>Buy and sell textbooks directly to students at your university!</p>
			</div>
			<div class="features">
				<div class="column">
					<div class="inner_col">
						<div class="feature_name">
							<p>Buy</p>
						</div>
						<div class="feature_img">
							<img src="images/shopping cart.png">
						</div>
					</div>

				</div>
				<div class="column">
					<div class="inner_col">
						<div class="feature_name">
							<p>Sell</p>
						</div>
						<div class="feature_img">
							<img src="images/package.png">
						</div>
					</div>
			</div>
				<div class="column">
					<div class="inner_col">
						<div class="feature_name">
							<p>Browse</p>
						</div>
						<div class="feature_img">
							<img src="images/pocket.png">
						</div>
					</div>

				</div>
			</div>
		</div-->

	</div>
</body>
</html>
