<!doctype html>

<html>
<head>
	<title>BookDrop</title>
	<meta charset="utf-8">
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/signin_style.css" rel="stylesheet">
	<link href="css/nav_style.css" rel="stylesheet">
	<link href="css/form_style.css" rel="stylesheet">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:ital,wght@0,100...900;1,100...900">


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/parse/dist/parse.min.js"></script>
	{{> facebook}}
	
</head>

<body>
	<div>
		<div class="section1">
			<div class="user-img">
				<img src="images/user.png" id="user">
			</div>
			<div class="title2">
				<h1>Sign In</h1>
			</div>

			<div class="filters-form">
				<!-- need to write /action_page.php or something else to handle login/register later-->
				<!-- <form action="/action_page.php"> -->

					<div class="form-component">
						<div class="form-label femail">
							<label for="femail"><p>EMAIL</p></label>
						</div>
						<div class="form-input">
							<input type="text" id="femail" name="femail" placeholder="hpotter@ucsd.edu">
						</div>
					</div>

					<div class="form-component">
						<div class="form-label fpassword">
							<label for="fpassword"><p>PASSWORD</p></label>
						</div>
						<div class="form-input">
							<input type="text" id="fpassword" name="fpassword" placeholder="*****">
						</div>
					</div>




					<!-- convert back to form submission later -->
					<div class="submit-btn">
						<button type="button" value="SIGN IN" onClick="parent.location='inventory'">SIGN IN</button>
					</div>
					

				<div class="other-btn">
					<button type="button" onClick="parent.location='register'">REGISTER></button>
				</div>

			</div>

		</div>
	</div>

	<script src="/js/login.js"></script>
	<button onClick="login()" class="loginBtn loginBtn--facebook">Login with Facebook</input>

	{{!-- <div class="fb-login-button" data-width="" data-size="large" data-button-type="login_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="true"></div> --}}
</body>
</html>
